{% extends'layout/ranking.twig' %}

{% block title %}Top {{ games|length }} best Steam Games this quarter{% endblock %}
{% block heading %}Quarter Top {{ games|length }}{% endblock %}

{% block content %}
    <p>
        Top {{ games|length }} best Steam games released in the last three months,
        according to gamer reviews.
    </p>
    {{ include('partial/rolling_button_group.twig') }}
{% endblock %}

{% block post %}
    {{ include('partial/rolling_button_group.twig') }}
{% endblock %}
