{% extends'layout/list.twig' %}

{% block title %}Top {{ games|length }} Steam Games from {{ toplist.id }}{% endblock %}
{% block heading %}Top of {{ toplist.id }}{% endblock %}

{% block lead %}
    <p>
        Top {{ games|length }} Steam games from the year {{ toplist.id }} according to the players.
    </p>
    {% if toplist.id != 'now'|date('Y') %}
    <p class="note">
        Although representing a historical segment, this list is subject to change as votes change
        or old games are released on Steam.
    </p>
    {% endif %}
{% endblock %}
