{% extends'layout/ranking.twig' %}

{% set earliest_year = constant('ScriptFUSION\\Steam250\\SiteGenerator\\Ranking\\Impl\\AnnualRanking::EARLIEST_YEAR') %}
{% set year = ranking.year ?? earliest_year %}
{% set when = ranking.year ?? ('pre-' ~ year) %}
{% set desc = ranking.year is defined ? 'in ' ~ year : 'before ' ~ year %}

{% block title %}Top {{ games|length }} best Steam Games released {{ desc }}{% endblock %}
{% block heading %}Best of {{ when }}{% endblock %}

{% block content %}
    <p>
        Top {{ games|length }} best Steam games released {{ desc }},
        according to gamer reviews.
    </p>
    {% if year != 'now'|date('Y') %}
    <p class="note">
        Despite representing a historical segment, this ranking is subject to change as votes change
        and old games are released on Steam.
    </p>
    {% endif %}
    {{ include('partial/timeline.twig') }}
{% endblock %}

{% block post %}
    {{ include('partial/timeline.twig') }}
{% endblock %}
