{% extends'layout/ranking.twig' %}
{% import 'macro/steam.twig' as steam %}
{% import 'macro/ranking.twig' as ranking_macro %}

{% block title %}Top 250 best Steam Developers{% endblock %}
{% block heading %}Developer 250{% endblock %}

{% block content %}
    <p>
        Top 250 best Steam Developers of all time according to gamer reviews.
    </p>
    <p>
        This ranking is designed to highlight developers that consistently release good games on Steam.
        Developers are ranked across all games, excluding DLC and discontinued titles.
        A small preference is given to developers with more games such that those near the top of the ranking
        will typically have more than one release. The game shown next to each developer is the one they
        are most well known for, based on gamer reviews.
    </p>
{% endblock %}

{% block game_row_heading %}
    Movement, rank, developer, game title, year and tag
{% endblock %}

{% block game_row %}
    <span class="title">
        {{ game.rank }}.
        <a href="{{ steam.developer_url(game.owner) }}">{{- game.owner -}}</a>
    </span>
    <a href="{{ steam.developer_url(game.owner) }}" class="games"
       title="{{ game.games }} game{% if game.games > 1 %}s{% endif %}">{{ game.games }}</a>
    <span class="knownfor">
        <a href="{{ steam.app_url(game.id) }}">{{ game.name }}</a>
    </span>
    {% if game.release_date %}
    {{ ranking_macro.date(game.release_date, game.release_date|date('Y')) }}
    {% endif %}
    {{ ranking_macro.tag(game.primary_tag, tags) }}
{% endblock %}
