{% extends 'layout/ranking.twig' %}
{% import 'macro/steam.twig' as steam %}
{% import 'macro/ranking.twig' as ranking_macro %}
{% import 'macro/club250.twig' as c250 %}

{% set mode = ranking.id %}
{% set mode_c = mode|capitalize %}

{% block class %}devlisher ranking{% endblock %}
{% block title %}Top 250 best Steam {{ mode_c }}s{% endblock %}
{% block heading %}{{ mode_c }} 250 Ranking{% endblock %}

{% block main %}
    <p>
        Top 250 best Steam {{ mode_c }}s of all time according to gamer reviews.
    </p>
    <p>
        This ranking is designed to highlight {{ mode }}s consistently releasing good games on Steam.
        {{ mode_c }}s are ranked across all games, excluding DLC and discontinued titles.
        The game shown next to each {{ mode }} is the one they are most well known for, based on gamer reviews.
        {% if mode == 'developer' %}
        A small preference is given to developers with more games such that those near the top of the
        ranking typically have more than one release.
        {% else %}
        A moderate preference is given to publishers with more games such that those near the top of the
        ranking typically have at least 10 releases.
        {% endif %}
    </p>
{% endblock %}

{% block app_title %}
    {% if mode == 'developer' %}
        {% set steam_url = steam.developer_url(app.owner) %}
    {% else %}
        {% set steam_url = steam.publisher_url(app.owner) %}
    {% endif %}

    {% set team_url = app.team_id ? c250.team_url(app.team_id) : steam_url %}
    <a href="{{ team_url }}">{{ app.owner }}</a>
    <a href="{{ team_url }}" class="games"
       title="{{ app.games }} game{% if app.games > 1 %}s{% endif %}">{{ app.games }}</a>

    {{ parent() }}
{% endblock %}

{% block local_nav %}
<h3>Developers</h3>
<ol>
    <li><a href="/developer{{ ext }}" class="{{ mode == 'developer' ? 'sel' }}">Developers</a>
    <li><a href="/publisher{{ ext }}" class="{{ mode == 'publisher' ? 'sel' }}">Publishers</a>
</ol>
{% endblock %}
