{% extends 'layout/template.twig' %}

{% block title %}Rankings overview{% endblock %}
{% block heading %}Steam 250{% endblock %}
{% block class %}home{% endblock %}

{% block fullwidth %}
<section class="stats">
    <dl>
        <dt>Games on Steam
        <dd>{{ total_games|number_format }}
    </dl>
    <dl>
        <dt>Rankings
        <dd>{{ total_rankings }}
    </dl>
</section>
<section class="rankings">
    {% for id, ranking in rankings %}
    <section class="top10">
        <header>
            {% set group = id in ['price/under5', 'discounts', 'tag/free_to_play'] ? 'budget'
                : id[:4] == 'tag/' ? 'tag'
                : ''
            %}
            <span class="group {{ group }}">
                {{ group == 'budget' ? 'Budget gamer' : group == 'tag' ? 'Popular tag' : 'Featured' }}
            </span>
            <h2><a href="/{{ id ~ ext }}">{{ ranking.ranking.title }}</a></h2>
            {% if ranking.related %}
            <ol>
                {% for see in ranking.related %}
                <li><a href="tag/{{ see|tag_id ~ ext }}">{{ see|title }}</a>
                {% endfor %}
            </ol>
            {% endif %}
            <p>{{ ranking.ranking.description|raw }}</p>
        </header>

        {{ include('partial/risers.twig', {games: ranking.apps, base_url: id ~ ext, fancy: true}) }}

        <footer>
            <a href="/{{ id ~ ext }}"><span>All {{ ranking.ranking.limit }}</span><span>&gt;</span></a>
        </footer>
    </section>
    {% endfor %}
</section>
{% endblock %}

{% block post %}
{{ include('partial/ad.twig', {id: '6546092519'}) }}
{% endblock %}

{% block css %}
{{ parent() }}
<link rel="stylesheet" href="/c/home.css">
{% endblock %}
