{% extends 'layout/template.twig' %}
{% import 'macro/steam.twig' as steam %}

{% block title %}Rankings overview{% endblock %}

{% macro img(id, hash) %}
<img src="https://shared.cloudflare.steamstatic.com/store_item_assets/steam/apps/{{ id }}/{{ hash }}">
{% endmacro %}

{% macro meter(game) %}
{% set pct = (game.positive_reviews / game.total_reviews * 100)|round %}
<span class="rating meter">
    <span style="width: {{ pct }}%"></span>
    {{ pct }}%
</span>
{% endmacro %}

{% block fullwidth %}
<main>
    <section class="trend">
        <header>
            <h2>Trending Now on Steam 250</h2>
            <p>Games with the most reviews in the past 24 hours</p>
            <a href="{{ rankings.TREND.ranking.url }}" class="button pri">View all Trending</a>
        </header>
        <ol>
            {% for game in rankings.TREND.apps %}
            <li><a href="{{ steam.app_url(game.id) }}">
                <header>
                    {% set img %}{{ _self.img(game.id, rankings.TREND.app_media[game.id]) }}{% endset %}
                    {{ img }}
                    <span>#{{ game.rank }}</span>
                </header>
                <footer>
                    {{ img }}
                    <span>{{ game.name }} <span>{{ game.release_date|date('Y') }}</span></span>
                    <span>{{ game.keystone_tag }}  &middot;  {{ game.developer }}</span>
                    <span>+{{ (game.score ?? 0)|number_format }} Reviews</span>
                    {{ _self.meter(game) }}
                </footer>
            </a>
            {% endfor %}
        </ol>
    </section>

    <section class="gotd">
        <header>
            <h2>Steam Top 250</h2>
            <p>Highest rated games of all time on Steam</p>
            <a href="/{{ rankings.top250.ranking.id ~ ext }}" class="button pri">View all Top 250</a>
        </header>
        {% set app = rankings.top250.apps.0 %}
        <a href="{{ steam.app_url(app.id) }}">
            {{ _self.img(app.id, rankings.top250.app_media[app.id]) }}
            <span class="button pri">Game of the Day</span>
            <span class="button">Top 250 #{{ app.rank }}</span>
            <h3>{{ app.name }}</h3>
            <p>{{ app.blurb }}</p>
        </a>
    </section>

    {% set ranking = rankings['7day'] %}
    <section class="wk">
        <header>
            <h2>Best of the Week</h2>
            <a href="/{{ ranking.ranking.id ~ ext }}" class="button pri">View all</a>
        </header>
        <ol>
            {% for game in ranking.apps %}
            <li><a href="{{ steam.app_url(game.id) }}">
                {{ _self.img(game.id, ranking.app_media[game.id]) }}
                <span>#{{ game.rank }}</span>
                <span>{{ game.name }} <span>{{ game.release_date|date|adaptive_date }}</span></span>
                <span>{{ game.total_reviews|number_format }} Reviews</span>
                {{ _self.meter(game) }}
                <span class="keystone">{{ game.keystone_tag }}</span>
            </a>
            {% endfor %}
        </ol>
    </section>

    {% set ranking = rankings['now'|date('Y')] %}
    <section class="yr">
        <header>
            <h2>Best of {{ ranking.ranking.id }}</h2>
            <a href="/{{ ranking.ranking.id ~ ext }}" class="button pri">View all This Year</a>
        </header>
        <ol>
            {% for game in ranking.apps %}
            <li><a href="{{ steam.app_url(game.id) }}">
                {{ _self.img(game.id, ranking.app_media[game.id]) }}
                <span>#{{ game.rank }}</span>
                <span>{{ game.name }}</span>
                <span class="keystone">{{ game.keystone_tag }}</span>
                <span>{{ (game.score * 10)|round(2) }}</span>
            </a>
            {% endfor %}
        </ol>
    </section>

    {% set ranking = rankings.most_played %}
    <section class="1/2">
        <header>
            <h2>Most Played Right Now</h2>
            <p>Games with the most concurrent users in the past 24 hours</p>
            <a href="/{{ ranking.ranking.id ~ ext }}" class="button pri">View all Most Played</a>
        </header>
        <ol>
            {% for game in ranking.apps %}
            <li><a href="{{ steam.app_url(game.id) }}">
                <span>{{ game.rank }}</span>
                {{ _self.img(game.id, ranking.app_media[game.id]) }}
                <span>{{ game.name }} <span>{{ game.release_date|date('Y') }}</span></span>
                <span class="keystone">{{ game.keystone_tag }}</span>
                <span>{{ game.average_players_1d|number_format }} CCU</span>
                {{ _self.meter(game) }}
            </a>
            {% endfor %}
        </ol>
    </section>

    {% set ranking = rankings.hidden_gems %}
    <section class="1/2">
        <header>
            <h2>{{ ranking.ranking.title }}</h2>
            <a href="/{{ ranking.ranking.id ~ ext }}" class="button pri">View all Gems</a>
        </header>
        <ol>
            {% for game in ranking.apps %}
            <li><a href="{{ steam.app_url(game.id) }}">
                <span>{{ game.rank }}</span>
                {{ _self.img(game.id, ranking.app_media[game.id]) }}
                <span>{{ game.name }} <span>{{ game.release_date|date('Y') }}</span></span>
                <span class="keystone">{{ game.keystone_tag }}</span>
                <span>{{ game.total_reviews|number_format }} Reviews</span>
                <span class="rating">{{ (game.positive_reviews / game.total_reviews * 100)|round }}% Positive</span>
            </a>
            {% endfor %}
        </ol>
    </section>

    {% set ranking = rankings.discounts %}
    <section class="1/3">
        <header>
            <h2>Top Discounted Games</h2>
            <a href="/{{ ranking.ranking.id ~ ext }}" class="button pri">View all</a>
        </header>
        <ol>
            {% for game in ranking.apps %}
            <li><a href="{{ steam.app_url(game.id) }}">
                {{ steam.app_capsule(game) }}
                <span>#{{ game.rank }}</span>
                <span>{{ game.name }} <span>{{ game.release_date|date('Y') }}</span></span>
                <span class="keystone">{{ game.keystone_tag }}</span>
                <span>${{ game.price / 100 }}</span>
                <span>${{ game.discount_price / 100 }}</span>
            </a>
            {% endfor %}
        </ol>
    </section>

    {% set ranking = rankings['price/under5'] %}
    <section class="1/3">
        <header>
            <h2>Best Under $5</h2>
            <a href="/{{ ranking.ranking.id ~ ext }}" class="button pri">View all</a>
        </header>
        <ol>
            {% for game in ranking.apps %}
            <li><a href="{{ steam.app_url(game.id) }}">
                {{ steam.app_capsule(game) }}
                <span>#{{ game.rank }}</span>
                <span>{{ game.name }} <span>{{ game.release_date|date('Y') }}</span></span>
                <span class="keystone">{{ game.keystone_tag }}</span>
                <span>${{ game.price / 100 }}</span>
            </a>
            {% endfor %}
        </ol>
    </section>

    {% set ranking = rankings['price/free'] %}
    <section class="1/3">
        <header>
            <h2>Top Free Games</h2>
            <a href="/{{ ranking.ranking.id ~ ext }}" class="button pri">View all</a>
        </header>
        <ol>
            {% for game in ranking.apps %}
            <li><a href="{{ steam.app_url(game.id) }}">
                {{ steam.app_capsule(game) }}
                <span>#{{ game.rank }}</span>
                <span>{{ game.name }} <span>{{ game.release_date|date('Y') }}</span></span>
                <span class="keystone">{{ game.keystone_tag }}</span>
                <span>Free</span>
            </a>
            {% endfor %}
        </ol>
    </section>

    <section class="tag">
        <header>
            <h2>Popular Tags</h2>
            <p>Our most popular tags, based on your clicks</p>
            <a href="{{ club250 }}/tags" class="button pri">View all Tags</a>
        </header>
        {% for ranking in rankings|filter((_, k) => k starts with 'tag/') %}
        <section>
            <header>
                <a href="/{{ ranking.ranking.id }}" class="tag {{ ranking.ranking.fetchTagCategory.short_name }}">
                    {{ ranking.ranking.tag }}
                </a>
                <a href="/{{ ranking.ranking.id }}" class="button pri">View all</a>
            </header>
            <ol>
                {% for game in ranking.apps %}
                <li><a href="{{ steam.app_url(game.id) }}">
                    <span>{{ game.rank }}</span>
                    {{ steam.app_capsule(game) }}
                    <span>{{ game.name }} <span>{{ game.release_date|date('Y') }}</span></span>
                    <span>
                        {{ game.total_reviews|number_format }}
                        {{ _self.meter(game) }}
                    </span>
                </a>
                {% endfor %}
            </ol>
        </section>
        {% endfor %}
    </section>

    <dl>
        <dt>Steam games</dt>
        <dd>{{ total_games|number_format }}</dd>
        <dt>Rankings</dt>
        <dd>{{ total_rankings|number_format }}+</dd>
        <dt>Daily updates</dt>
        <dd>{{ total_days|number_format }}</dd>
    </dl>
</main>
{% endblock %}

{% block post %}
{{ include('partial/ad.twig', {id: '6546092519'}) }}
{% endblock %}

{% block css %}
{{ parent() }}
<link rel="stylesheet" href="/c/home.css">
{% endblock %}
