{% extends'layout/ranking.twig' %}

{% set first_year = constant('ScriptFUSION\\Steam250\\SiteGenerator\\Ranking\\Impl\\AnnualList::EARLIEST_YEAR') %}

{% block title %}Top {{ games|length }} Steam Games released before {{ first_year }}{% endblock %}
{% block heading %}Best Pre-{{ first_year }}{% endblock %}

{% block content %}
    {{ include('partial/annual_linkbar.twig') }}
    <p>
        Top {{ games|length }} best Steam games released before {{ first_year }},
        according to player reviews.
    </p>
    {% if ranking.id != 'now'|date('Y') %}
    <p class="note">
        Despite representing a historical segment, this ranking is subject to change as votes change
        and old games are released on Steam.
    </p>
    {% endif %}
{% endblock %}

{% block post %}
    {{ include('partial/annual_linkbar.twig') }}
{% endblock %}
