{% extends'layout/ranking.twig' %}

{% set earliest_year = constant('ScriptFUSION\\Steam250\\SiteGenerator\\Ranking\\Impl\\AnnualList::EARLIEST_YEAR') %}
{% set year = ranking.year ?? earliest_year %}
{% set when = ranking.year ?? ('pre-' ~ year) %}
{% set desc = ranking.year is defined ? 'in ' ~ year : 'before ' ~ year %}

{% block title %}Top {{ games|length }} Best Sellers on Steam {{ desc }}{% endblock %}
{% block heading %}Best Sellers {{ when }}{% endblock %}

{% block content %}
    {{ include('partial/annual_linkbar.twig') }}
    <p>
        Top {{ games|length }} best sellers on Steam released {{ desc }}.
    </p>
    <p class="notice">
        This page is no longer updated. The last data snapshot was taken on April 11<sup>th</sup>, 2018,
        when <a href="https://steamcommunity.com/games/593110/announcements/detail/1667896941884942467">
            Valve changed the default privacy policy</a>, rendering further updates impossible.
        This page will be taken down once the data becomes too stale to be of any historical value.
    </p>
    <p>
        Figures are based on estimates of total ownership and may have up to a 10% error margin.
        Whilst ownership and sales are often correlated, this data is strictly based on ownership,
        which includes any free copies. Free-to-play games are excluded.
    </p>
    <p class="tip">
        Compare with <a href="/{{ (ranking.year ?? 'old') ~ ext }}">top rated games {{ desc }}</a>.
    </p>
{% endblock %}

{% block post %}
    {{ include('partial/annual_linkbar.twig') }}
{% endblock %}

{% block scoring_heading %}Owners{% endblock %}
{% block scoring_criteria %}
    <span class="owners">{{ game.owners|number_format }}</span>
    <span class="rating">rated {{ (game.positive_reviews / game.total_reviews * 100)|round }}%</span>
{% endblock %}
