<h3>Hidden Gems</h3>
<ol>
    <li><a href="/hidden_gems{{ ext }}" class="gem {{ ranking.id == 'hidden_gems' ? 'sel' }}">Today</a>
    <li><a href="{{ club250 }}/ranking/gems/history/20190418" class="gem">History</a>
    <li><a href="/hidden_novels{{ ext }}" class="gem {{ ranking.id == 'hidden_novels' ? 'sel' }}">Hidden Novels</a>
</ol>
