<h3>Deals</h3>
<ol>
    <li><a href="/discounts{{ ext }}" class="discount {{ ranking.id == 'discounts' ? 'sel' }}">Top 250 Discounts</a>
    <li><a href="/price/free{{ ext }}" class="free {{ ranking.id == 'price/free' ? 'sel' }}">Free Games</a>
    <li><a href="/price/under5{{ ext }}" class="price {{ ranking.id == 'price/under5' ? 'sel' }}">Under $5</a>
    <li><a href="/price/5-10{{ ext }}" class="price {{ ranking.id == 'price/5-10' ? 'sel' }}">From $5–10</a>
    <li><a href="/price/10-15{{ ext }}" class="price {{ ranking.id == 'price/10-15' ? 'sel' }}">From $10–15</a>
    <li><a href="/price/15-20{{ ext }}" class="price {{ ranking.id == 'price/15-20' ? 'sel' }}">From $15–20</a>
    <li><a href="/price/over20{{ ext }}" class="price {{ ranking.id == 'price/over20' ? 'sel' }}">Over $20</a>
</ol>
