<h3>Platforms</h3>
<ol>
    <li><a href="/mac250{{ ext }}" class="mac {{ page.id === 'mac250' ? 'sel' }}">Mac</a>
    <li><a href="/linux250{{ ext }}" class="linux {{ page.id === 'linux250' ? 'sel' }}">Linux</a>
    <li><a href="/steam_deck_playable{{ ext }}" class="deck {{ page.id starts with 'steam_deck_' ? 'sel' }}">
        Steam Deck
    </a>
    <li><a href="/vr250{{ ext }}" class="vr {{ page.id starts with 'vr' ? 'sel' }}">Virtual Reality</a>
</ol>
