<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ block('title') }}</title>

    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-PJ9P8B3');</script>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster|Cousine:400i">
    <link rel="shortcut icon" href="favicon.png" type="image/png" />

<body>
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PJ9P8B3" height="0" width="0"
style="display:none;visibility:hidden"></iframe></noscript>

<section id="header">
    <div id="user">
        <div id="lout">
            <form action="https://steamcommunity.com/openid/login" method="post">
                <button id="login">Sign in to Steam</button>
                <input type="hidden" name="openid.identity" value="http://specs.openid.net/auth/2.0/identifier_select">
                <input type="hidden" name="openid.claimed_id" value="http://specs.openid.net/auth/2.0/identifier_select">
                <input type="hidden" name="openid.ns" value="http://specs.openid.net/auth/2.0">
                <input type="hidden" name="openid.mode" value="checkid_setup">
                <input type="hidden" name="openid.realm" value="http://steam250.com">
                <input type="hidden" name="openid.return_to">
            </form>
        </div>
        <div id="lin">
            <dl>
                <dt>owned
                <dd><span class="owned"></span>
            </dl>
            <a class="avatar"></a><button id="logout">Sign out</button>
        </div>
    </div>
    <div class="title" data-title="{{ block('heading') }}">
        <h1>{{ block('heading') }}</h1>
    </div>
    <div class="slogan">Open source Steam games ranking curated by the players</div>
</section>

<div class="body">
<div class="page">
<ul class="links">
    <li><a href="/">Top 250</a>
        &ndash; <a href="hidden_gems.html">Hidden gems</a>
        &ndash; <a href="bottom100.html">Bottom 100</a>
    <li><a href="30day.html">30 day</a> &ndash; <a href="90day.html">90 day</a> &ndash; <a href="365day.html">365 day</a>
    <li><a href="mac250.html">Mac 250</a> &ndash; <a href="linux250.html">Linux 250</a>
</ul>
{{ block('lead') }}
{{ include('partial/ad.twig', {id: '9535671996'}) }}
<table id="ranking">
    <thead>
        <tr>
            <td>
            <td>Movement, rank, title, genre, date and platforms
            <td>Player rating
    <tbody>
{% set split = min(max(games|length / 2, 25), 100) %}
{% for game in games %}
    <tr{{ loop.index % 2 ? ' class="a"' }}>
        <td>
            <a href="http://store.steampowered.com/app/{{ game.id }}/">
                {%- if loop.index <= 15 -%}
                <img src="http://cdn.akamai.steamstatic.com/steam/apps/{{ game.id }}/capsule_184x69.jpg"
                     width="{{ min(184, 184 - (184 - 120) / 13 * (loop.index - 3))|round }}"
                {%- else -%}
                <img src="http://cdn.akamai.steamstatic.com/steam/apps/{{ game.id }}/capsule_sm_120.jpg"
                     width="120" height="45"
                {%- endif %}
                alt="{{ game.name }} logo"
            ></a>
        </td>
        <td id="{{ game.rank }}">
            {% if game.movement is defined %}
            {{ include('partial/movement.twig', {movement: game.movement}) }}
            {% endif %}
            <span class="title" style="font-size: {{ min(200, max(100, 200 - 100 / 13 * (loop.index - 3))) }}%">
                {{ game.rank }}.
                <a href="http://store.steampowered.com/app/{{ game.id }}/" data-rank="{{ game.rank }}">
                    {{- game.name -}}
                </a>
            </span>
            <a href="http://store.steampowered.com/tag/en/{{ game.tags|url_encode }}/" class="genre">
                {{- game.tags -}}
            </a>
            {% if game.release_date %}
            <span class="date" title="{{ game.release_date|date('j M Y') }}">
                ({{ game.release_date|date('M Y') }})
            </span>
            {% endif %}
            <span class="platforms">
            {%- if game.platforms b-and constant('ScriptFUSION\\Top250\\Shared\\Platform::WINDOWS') -%}
                <span title="Windows"></span>
            {%- endif -%}
            {%- if game.platforms b-and constant('ScriptFUSION\\Top250\\Shared\\Platform::MAC') -%}
                <span title="Mac"></span>
            {%- endif -%}
            {%- if game.platforms b-and constant('ScriptFUSION\\Top250\\Shared\\Platform::LINUX') -%}
                <span title="Linux"></span>
            {%- endif -%}
            {%- if game.platforms b-and constant('ScriptFUSION\\Top250\\Shared\\Platform::VIVE') -%}
                <span title="HTC Vive"></span>
            {%- endif -%}
            {%- if game.platforms b-and constant('ScriptFUSION\\Top250\\Shared\\Platform::OCCULUS') -%}
                <span title="Occulus Rift"></span>
            {%- endif -%}
            {%- if game.platforms b-and constant('ScriptFUSION\\Top250\\Shared\\Platform::WMR') -%}
                <span title="Windows Mixed Reality"></span>
            {%- endif -%}
            </span>
        </td>
        <td>
            <span class="score">{{ (game.score * 10)|number_format(1) }}</span>
            <span class="votes">
                ({{ (game.positive_reviews / game.total_reviews * 100)|round }}%
                {{ game.total_reviews }} votes)
            </span>
        </td>
    </tr>
    {% if loop.index % split == 0 and not loop.last %}
    <tr>
        <td colspan="3" class="ad">{{ include(
            'partial/ad.twig',
            {id: cycle(['6912946882', '4095211858'], loop.index / split - 1)}
        ) }}</td>
    </tr>
    {% endif %}
{% endfor %}
</table>

<div class="algo" title="Ranking algorithm">{{ toplist.algorithm }} {{ toplist.weight }}</div>
{{ include('partial/ad.twig', {id: '3002887382'}) }}

{% if risers is defined and risers or fallers is defined and fallers %}
<div class="r&f">
    {% if risers is defined and risers %}
    {{ include('partial/risers.twig', {games: risers}) }}
    {% endif %}
    {% if fallers is defined and fallers %}
    {{ include('partial/risers.twig', {games: fallers}) }}
    {% endif %}
</div>
{% endif %}
</div>
</div>

<section id="footer">
    <div>
        <h2>Steam Top 250 <a href="https://twitter.com/SteamTop250" class="twitter">Twitter</a></h2>
        <p>The lists are automatically generated at least once a day from live Steam reviews data.</p>
        {% if games[0].movement is defined %}
        <p>Movement indicators show the change in position since yesterday.</p>
        {% endif %}
    </div>

    <div>
        <h2>System status</h2>
        <ul>
            <li>Data <a href="https://travis-ci.org/250/Steam-importer">
                    <img src="https://travis-ci.org/250/Steam-importer.svg?branch=master" alt="Data build status"></a>
                Pages <a href="https://travis-ci.org/250/Steam-Top-250">
                    <img src="https://travis-ci.org/250/Steam-Top-250.svg?branch=master" alt="Page build status"></a>
            <li>Generated {{ 'now'|date }}
            <li><a href="https://github.com/250">Source code</a>,
                <a href="https://github.com/250/Steam-Top-250/issues">Issues</a>
            <li><a href="mailto:bilge@scriptfusion.com">Contact</a>
        </ul>
    </div>

    <div>
        <h2>External top lists</h2>
        <ul>
            <li><a href="http://store.steampowered.com/search/?sort_by=Reviews_DESC&amp;category1=998">
                    Official Steam top games list
                </a>
            <li><a href="https://steamdb.info/stats/gameratings/">SteamDB top rated games</a>
            <li><a href="https://steamspy.com/#tab-total">Steam Spy top games by playtime</a>
            <li><a href="http://www.imdb.com/chart/top">IMDb Top 250 movies</a>
        </ul>
    </div>
</section>

<div class="fixedlinks">
    <a href="#header">Top</a>
    <a href="#footer">Bottom</a>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.3/moment.min.js"></script>
<script src="js/BuildMonitor.js"></script>
<script src="js/250.js"></script>
