{% extends'layout/template.twig' %}

{% block css %}
    <link rel="stylesheet" href="/css/ranking.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster%7cCodystar%7cCousine:400i">
{% endblock %}

{% block body %}
<section id="header">
    <div id="user">
        <div id="lout">
            <form action="https://steamcommunity.com/openid/login" method="post">
                <button id="login">Sign in to Steam</button>
                <input type="hidden" name="openid.identity" value="http://specs.openid.net/auth/2.0/identifier_select">
                <input type="hidden" name="openid.claimed_id" value="http://specs.openid.net/auth/2.0/identifier_select">
                <input type="hidden" name="openid.ns" value="http://specs.openid.net/auth/2.0">
                <input type="hidden" name="openid.mode" value="checkid_setup">
                <input type="hidden" name="openid.realm" value="http://steam250.com">
                <input type="hidden" name="openid.return_to">
            </form>
        </div>
        <div id="lin">
            <dl>
                <dt>owned
                <dd><span class="owned"></span>
            </dl>
            <a class="avatar"></a><button id="logout">Sign out</button>
        </div>
    </div>
    <div class="title" data-title="{{ block('heading') }}">
        <h1>{{ block('heading') }}</h1>
    </div>
    <div class="slogan">
        Open source rankings <span class="d">of</span> Steam games <span class="d">curated by</span> the players
    </div>
</section>

<ol class="menu">
    <li>
        <a href="#">Rankings</a>
        <ol>
            <li><a href="/">Top 250 Games</a>
            <li><a href="/dlc{{ ext }}">Top 250 DLC</a>
            <li><a href="/hidden_gems{{ ext }}">Hidden Gems</a>
            <li><a href="/hidden_novels{{ ext }}">Hidden Novels</a>
            <li>
                <a href="#">Platform</a>
                <ol>
                    <li><a href="/vr250{{ ext }}">Virtual Reality</a>
                    <li><a href="/mac250{{ ext }}">Mac</a>
                    <li><a href="/linux250{{ ext }}">Linux</a>
                </ol>
            <li><a href="/most_played{{ ext }}">Most Played</a>
            <li><a href="/bottom100{{ ext }}">Bottom 100</a>
        </ol>
    <li>
        <a href="#">Club 250</a>
        <ol>
            <li><a href="/club250{{ ext }}">Recommended Games</a>
            <li><a href="https://www.patreon.com/steam250">Join Club 250</a>
            <li><a href="https://discord.gg/8pz5ybv">Chat in Discord</a>
        </ol>
    <li>
        <a href="#">Genre</a>
        <ol>
            {% for tag in tags %}
            <li><a href="/tag/{{ tag|tag_id|url_encode ~ ext }}">{{ tag }}</a>
            {% endfor %}
        </ol>
    <li>
        <a href="#">Period</a>
        <ol>
            <li>
                <a href="#">Fixed Year</a>
                <ol>
                    {% for year in range('now'|date('Y'),
                        constant('ScriptFUSION\\Steam250\\SiteGenerator\\Toplist\\Impl\\AnnualList::EARLIEST_YEAR')) %}
                    <li><a href="/{{ year }}{{ ext }}">{{ year }}</a>
                    {% endfor %}
                </ol>
            <li><a href="/30day{{ ext }}">Rolling Month</a>
            <li><a href="/90day{{ ext }}">Rolling Quarter</a>
            <li><a href="/365day{{ ext }}">Rolling Year</a>
        </ol>
</ol>

<div class="body">
<div class="page">
<ul class="links">
    <li><a href="/">Top 250</a>
        &ndash; <a href="/hidden_gems{{ ext }}">Hidden gems</a>
        &ndash; <a href="/{{ ('now'|date('Y') - 1) ~ ext }}">{{ 'now'|date('Y') - 1 }}</a>
    <li><a href="https://www.patreon.com/steam250">Join Club 250 on Patreon</a>
</ul>
{{ block('lead') }}
{{ include('partial/ad.twig', {id: '9535671996'}) }}
<table id="ranking">
    <thead>
        <tr>
            <td>
            <td>Movement, rank, title, date, platforms and tags
            <td>{% block scoring_heading %}Player rating{% endblock %}
    <tbody>
{% for game in games %}
    <tr{{ loop.index % 2 ? ' class="a"' }}>
        <td>
            <a href="http://store.steampowered.com/app/{{ game.id }}/">
                <img alt="Logo" src="http://cdn.akamai.steamstatic.com/steam/apps/{{ game.id }}/capsule_
                    {{- loop.index <= 14 ? '184x69.jpg' : 'sm_120.jpg' }}"
            ></a>
        </td>
        <td id="{{ game.rank }}">
            {% if game.movement is defined %}
            {{ include('partial/movement.twig', {movement: game.movement}) }}
            {% endif %}
            <span class="title">
                {{ game.rank }}.
                <a href="http://store.steampowered.com/app/{{ game.id }}/">
                    {{- game.name -}}
                </a>
            </span>
            {% if game.release_date %}
            <span class="date" title="{{ game.release_date|date('j M Y') }}">
                ({{ game.release_date|date('M Y') }})
            </span>
            {% endif %}
            <span class="platforms">
            {%- if game.platforms b-and constant('ScriptFUSION\\Top250\\Shared\\Platform::WINDOWS') -%}
                <span title="Windows"></span>
            {%- endif -%}
            {%- if game.platforms b-and constant('ScriptFUSION\\Top250\\Shared\\Platform::MAC') -%}
                <span title="Mac"></span>
            {%- endif -%}
            {%- if game.platforms b-and constant('ScriptFUSION\\Top250\\Shared\\Platform::LINUX') -%}
                <span title="Linux"></span>
            {%- endif -%}
            {%- if game.platforms b-and constant('ScriptFUSION\\Top250\\Shared\\Platform::VIVE') -%}
                <span title="HTC Vive"></span>
            {%- endif -%}
            {%- if game.platforms b-and constant('ScriptFUSION\\Top250\\Shared\\Platform::OCCULUS') -%}
                <span title="Occulus Rift"></span>
            {%- endif -%}
            {%- if game.platforms b-and constant('ScriptFUSION\\Top250\\Shared\\Platform::WMR') -%}
                <span title="Windows Mixed Reality"></span>
            {%- endif -%}
            </span>
            {% if game.primary_tag %}
                {% if game.primary_tag in tags %}
                    {% set tag_url = "/tag/#{game.primary_tag|tag_id|url_encode ~ ext}" %}
                {% else %}
                    {% set tag_url = "http://store.steampowered.com/tag/en/#{game.primary_tag|url_encode}/" %}
                {% endif %}
                <a href="{{ tag_url }}" class="genre">{{- game.primary_tag -}}</a>
            {% endif %}
            {% if game.rank_250 and game.list_id != 'index' %}
            <a href="/#{{ game.rank_250 }}" class="ref250">Top 250 #{{ game.rank_250 }}</a>
            {% endif %}
            {% if game.discount > 0 %}
            <span class="discount">-{{ game.discount }}%</span>
            {% endif %}
            {% if game.free %}
            <a href="/tag/free_to_play{{ ext }}" class="free">Free</a>
            {% endif %}
            {% block reviews %}{% endblock %}
        </td>
        <td>
            {% block scoring_criteria %}
            <span class="score">{{ (game.score * 10)|number_format(2) }}</span>
            <span class="rating">{{ (game.positive_reviews / game.total_reviews * 100)|round }}%</span>
            <span class="votes">{{ game.total_reviews|number_format }} votes</span>
            {% endblock %}
        </td>
    </tr>
    {% if (loop.index == 25 or loop.index == 50) and not loop.last %}
    <tr>
        <td colspan="3" class="ad">{{ include(
            'partial/ad.twig',
            {id: cycle(['6706909236', '6885984584'], loop.index / 25 - 1)}
        ) }}</td>
    </tr>
    {% endif %}
{% endfor %}
</table>

{% if toplist.algorithm %}
<div class="algo" title="Ranking algorithm">{{ toplist.algorithm }} {{ toplist.weight }}</div>
{% endif %}

{% if risers is defined and risers or fallers is defined and fallers %}
<div class="r&amp;f">
    {% if risers is defined and risers %}
    {{ include('partial/risers.twig', {games: risers}) }}
    {% endif %}
    {% if fallers is defined and fallers %}
    {{ include('partial/risers.twig', {games: fallers}) }}
    {% endif %}
</div>
{% endif %}
{{ include('partial/ad.twig', {id: '3002887382'}) }}
</div>
</div>

<section id="footer">
    <div>
        <h2>
            <a href="https://www.patreon.com/steam250">Steam 250</a>
            {#<a href="https://twitter.com/SteamTop250" class="twitter">Twitter</a>#}
            <a href="https://www.patreon.com/steam250" class="patreon" title="Patreon">Patreon</a>
            <a href="https://discord.gg/8pz5ybv" class="discord" title="Discord">Discord</a>
        </h2>
        <p>The lists are automatically generated at least once a day from live Steam reviews data.</p>
        {% if games[0].movement is defined %}
        <p>Movement indicators show the change in position since yesterday.</p>
        {% endif %}
    </div>

    <div>
        <h2>System status</h2>
        <ul>
            <li>Data <a href="https://travis-ci.org/250/Steam-importer">
                    <img src="https://travis-ci.org/250/Steam-importer.svg?branch=master" alt="Data build status"></a>
                Pages <a href="https://travis-ci.org/250/Steam-Top-250">
                    <img src="https://travis-ci.org/250/Steam-Top-250.svg?branch=master" alt="Page build status"></a>
            <li>Generated {{ 'now'|date }}
            <li><a href="https://github.com/250">Source code</a>,
                <a href="https://github.com/250/Steam-Top-250/issues">Issues</a>
            <li><a href="mailto:bilge@scriptfusion.com">Contact</a>
        </ul>
    </div>

    <div>
        <h2>External top lists</h2>
        <ul>
            <li><a href="http://store.steampowered.com/search/?sort_by=Reviews_DESC&amp;category1=998">
                    Official Steam top games list
                </a>
            <li><a href="https://steamspy.com/#tab-trending">Steam Spy tending games</a>
            <li><a href="http://www.imdb.com/chart/top">IMDb Top 250 movies</a>
        </ul>
    </div>
</section>

<div class="fixedlinks">
    <a href="#header">Top</a>
    <a href="#footer">Bottom</a>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.3/moment.min.js"></script>
<script src="/js/BuildMonitor.js"></script>
<script src="/js/250.js"></script>
{% endblock %}
