{% extends'layout/template.twig' %}
{% import 'macro/steam.twig' as steam %}
{% import 'macro/ranking.twig' as macro %}

{% block css %}
{{ parent() }}
<link rel="stylesheet" href="/css/ranking.css">
{% endblock %}

{% block fullwidth %}
<div class="ranking-layout">
    <div>{#Virtual#}</div>
    <div class="ranking">
        <header>
            <button type="button">filters</button>
            <form method="post">
                <fieldset>
                    <legend>Platforms</legend>
                    <p>Include games from these platforms.</p>
                    <label>
                        <input type="checkbox" name="win" checked>
                        <span>Windows</span>
                    </label>
                    <label>
                        <input type="checkbox" name="mac" checked>
                        <span>Mac</span>
                    </label>
                    <label>
                        <input type="checkbox" name="nix" checked>
                        <span>Linux</span>
                    </label>
                    <label>
                        <input type="checkbox" name="vr" checked>
                        <span>Virtual reality</span>
                    </label>
                </fieldset>
                <button class="button ok">OK</button>
                <button class="button cancel">Cancel</button>
                <button class="button reset" type="reset">Reset</button>
            </form>
            <h2>{% block game_row_heading %}Movement, rank, title, date, platforms and tag{% endblock %}</h2>
            <h2>{% block scoring_heading %}Score{% endblock %}</h2>
        </header>
        {% for game in games %}
        <div id="{{ game.rank }}">
            <div>
                <a href="{{ steam.app_url(game.id) }}">
                    <img alt="Logo" src="https://steamcdn-a.akamaihd.net/steam/apps/{{ game.id }}/capsule_
                        {{- loop.index <= 14 ? '184x69.jpg' : 'sm_120.jpg' }}"
                ></a>
            </div>
            <div>
                {% if game.movement is defined %}
                {{ include('partial/movement.twig', {movement: game.movement}) }}
                {% endif %}
                {% block game_row %}
                <span class="title">
                    {{ game.rank }}.
                    <a href="{{ steam.app_url(game.id) }}">
                        {{- game.name -}}
                    </a>
                </span>
                {{ macro.date(game.release_date, game.release_date|date('M Y')) }}
                <span class="platforms">
                {%- if game.platforms b-and constant('ScriptFUSION\\Steam250\\Shared\\Platform::WINDOWS') -%}
                <span title="Windows" class="win"></span>
                {%- endif -%}
                {%- if game.platforms b-and constant('ScriptFUSION\\Steam250\\Shared\\Platform::MAC') -%}
                <a href="/mac250{{ ext }}" title="Mac" class="mac"></a>
                {%- endif -%}
                {%- if game.platforms b-and constant('ScriptFUSION\\Steam250\\Shared\\Platform::LINUX') -%}
                <a href="/linux250{{ ext }}" title="Linux" class="nix"></a>
                {%- endif -%}
                {%- if game.platforms b-and constant('ScriptFUSION\\Steam250\\Shared\\Platform::VIVE') -%}
                <a href="/vr250{{ ext }}" title="HTC Vive" class="vive"></a>
                {%- endif -%}
                {%- if game.platforms b-and constant('ScriptFUSION\\Steam250\\Shared\\Platform::OCULUS') -%}
                <a href="/vr250{{ ext }}" title="Oculus Rift" class="rift"></a>
                {%- endif -%}
                {%- if game.platforms b-and constant('ScriptFUSION\\Steam250\\Shared\\Platform::WMR') -%}
                <a href="/vr250{{ ext }}" title="Windows Mixed Reality" class="wmr"></a>
                {%- endif -%}
                </span>
                {{ macro.tag(game.primary_tag, tags) }}
                {% if game.rank_250 and game.list_id != 'index' %}
                <a href="/#{{ game.rank_250 }}" class="ref250">Top 250 #{{ game.rank_250 }}</a>
                {% endif %}
                {% if game.vrx %}
                <a href="/vr_exclusives{{ ext }}" class="vrx" title="VR Exclusive">VRX</a>
                {% endif %}
                {% if game.discount > 0 %}
                <a href="/discounts{{ ext }}" class="discount">-{{ game.discount }}%</a>
                {% endif %}
                {% if game.price is same as('0') %}
                <a href="/tag/free_to_play{{ ext }}" class="free">Free</a>
                {% endif %}
                {% if 'Early Access' in game.tags %}
                <a href="/tag/early_access{{ ext }}" class="ea" title="Early Access">EA</a>
                {% endif %}
                <a href="#{{ game.rank }}" class="links" title="Link">▼</a>
                {% block reviews %}{% endblock %}
                {% endblock %}
            </div>
            <div>
                {% block scoring_criteria %}
                <span class="score">{{ (game.score * 10)|number_format(2) }}</span>
                <span class="rating">{{ (game.positive_reviews / game.total_reviews * 100)|round }}%</span>
                <span class="votes">{{ game.total_reviews|number_format }} votes</span>
                {% endblock %}
            </div>
        </div>
        {% if (loop.index == 25 or loop.index == 50) and not loop.last %}
        {{ include('partial/ad.twig', {id: cycle(['6706909236', '6885984584'], loop.index / 25 - 1)}) }}
        {% endif %}
        {% endfor %}
        {% if ranking.algorithm %}
        <footer title="Ranking algorithm">{{ ranking.algorithm }} {{ ranking.weight }}</footer>
        {% endif %}
    </div>
    <section class="r&amp;f">
    {% if risers is defined and (risers or fallers or new) %}
        {% if risers %}
        {{ include('partial/risers.twig', {games: risers}) }}
        {% endif %}
        {{ include('partial/ad.twig', {id: '3002887382'}) }}
        {% if fallers %}
        {{ include('partial/risers.twig', {games: fallers, title: 'Fallers'}) }}
        {% endif %}
        {% if new %}
        {{ include('partial/risers.twig', {games: new, title: 'New entries'}) }}
        {% endif %}
    {% else %}
        {{ include('partial/ad.twig', {id: '3002887382'}) }}
    {% endif %}
        <div>
            <div class="title h2" data-title="Club 250">
                <h2><a href="https://www.patreon.com/steam250">Club 250</a></h2>
            </div>
            <p>
                Club 250 is the Steam 250 members club.
                Consider <a href="https://www.patreon.com/steam250">becoming a member</a>
                so we can continue helping you find good Steam games!
            </p>
            <p>
                Receive rewards based on your pledge level, including
                <a href="/club250{{ ext }}">your reviews on an exclusive ranking</a> and
                <a href="/club250/ambassadors{{ ext }}">your name, logo and link on the site</a>.
            </p>
        </div>
        <div>
            <h2>Latest tweets</h2>
            <a class="twitter-timeline" data-dnt="true" data-link-color="#cfab72" data-theme="dark"
               data-chrome="noheader nofooter transparent" data-tweet-limit="2"
               href="https://twitter.com/Steam_250">Tweets by Steam_250</a>
            <script async src="https://platform.twitter.com/widgets.js"></script>
            <a href="https://twitter.com/Steam_250" class="more">more tweets</a>
        </div>
    </section>
</div>

<ol id="linkmenu">
    <li><a class="cp rank">Copy link to this rank (#<span>0</span>)</a>
    <li><a class="cp app">Copy link to track this game</a>
</ol>
{% endblock %}

{% block js %}
{{ parent() }}
<script src="/js/Filter.js"></script>
{% endblock %}
