{% extends 'layout/template.twig' %}
{% import 'macro/steam.twig' as steam %}
{% import 'macro/ranking.twig' as macro %}

{% block class %}ranking{% endblock %}

{% block css %}
{{ parent() }}
<link rel="stylesheet" href="/c/ranking.css">
{% endblock %}

{% block fullwidth %}
<div class="2col-layout">
    <main>
        <h2>{{ block('heading') }}</h2>
        {% block main %}{% endblock %}

        {% if games is defined %}
        <section class="applist compact">
            <header>
                <span>{% block rank_heading %}Rank{% endblock %}</span>
                <span>Game</span>
                <span>{% block score_heading %}Score{% endblock %}</span>
                <span>{% block rating_heading %}Reviews{% endblock %}</span>
                <span>{% block price_heading %}Price{% endblock %}</span>
                <span>Actions</span>
            </header>
            {% for app in games %}
            <div {% if app.rank is defined %} id="{{ app.rank }}"{% endif %}>
                <div>
                    {% if app.movement is defined %}
                        {% if app.movement is null %}
                            <span title="New entry">New</span>
                        {% elseif app.movement != 0 %}
                            <span class="{{ app.movement > 0 ? '+' : '-' }}">
                                <span>{{ app.movement > 0 ? '+' : '-' }}{{ app.movement|abs }}</span>
                            </span>
                        {% endif %}
                    {% endif %}
                    {{ app.rank ?? loop.index }}
                </div>
                <div>{# Capsule image. #}
                    <a href="{{ steam.app_url(app.id) }}"
                        {{ steam.video_attr(app.name, app.videos, app.video_manifest_hashes) }}
                    >
                        {% set eaYears = date().diff(date(app.release_date)).y %}
                        {% if app.ea %}
                            <span title="Early Access for {{ eaYears }} years">EA{{ eaYears > 1 ? eaYears }}</span>
                        {% endif %}
                        {{ steam.app_capsule(app) }}
                    </a>
                </div>
                <div>{# Title. #}
                    <div>
                        {% block app_title %}
                            <a href="{{ steam.app_url(app.id) }}" title="{{ app.name }}">{{ app.name }}</a>
                            <span title="{{ app.release_date|date('j M Y') }}">
                                {{ macro.date(app.release_date, app.release_date|date|adaptive_date('Y')) }}
                            </span>
                        {% endblock %}
                    </div>
                    {# Tag and labels. #}
                    <div>
                        {# Labels. #}
                        {% if app.adult or app.vrx %}
                            <span>
                                {%- if app.adult %}
                                    <a href="/adult" class="18" title="Adult only">18</a>
                                {% endif %}
                                {%- if app.vrx %}
                                    <a href="/vr_exclusives" class="vr" title="VR Exclusive">VR</a>
                                {% endif -%}
                            </span>
                        {% endif %}
                        {{ macro.tag(app.primary_tag, tags) }}
                    </div>
                </div>
                <div>
                    {%- if block('score_heading') %}
                        <span>{% block score %}{{ (app.score * 10)|number_format(2) }}{% endblock %}</span>
                    {% endif -%}
                </div>
                <div>
                    {%- if block('rating_heading') %}
                        <span class="votes">{{ app.total_reviews|number_format }}</span>
                    {% endif -%}
                    {%- if app.total_reviews > 0 %}
                        {% set pct = (app.positive_reviews / app.total_reviews * 100)|round %}
                        <div class="rating" title="{{ pct }}% positive">
                            <span style="width: {{ pct }}%"></span>
                        </div>
                    {% endif -%}
                </div>
                <div>
                    {%- if block('price_heading') %}
                        {% if app.price is same as(0) %}
                            <a href="/tag/free_to_play{{ ext }}" class="free">Free</a>
                        {% else %}
                            <span>
                                ${{ ((app.discount_price ? app.discount_price : app.price) / 100)|number_format(2) }}
                            </span>
                            {% if app.discount > 0 %}
                                <span>${{ (app.price / 100)|number_format(2) }}</span>
                            {% endif %}
                        {% endif %}
                    {% endif -%}
                </div>
                <div>
                    {# Actions. #}
                    <a href="{{ steam.store_url(app.id) }}" class="store" title="Steam store" target="_blank"></a>
                    {% if app.demo_id %}
                        <a class="demo" href="steam://install/{{ app.demo_id }}" title="Play demo">Demo</a>
                    {%- endif -%}
                </div>
            </div>
            {% if (loop.index == 25 or loop.index == 50) and not loop.last %}
                {{ include('partial/ad.twig', {id: cycle(['6706909236', '6885984584'], loop.index / 25 - 1)}) }}
            {% endif %}
            {% endfor %}
            {% if ranking.algorithm is defined %}
                <footer title="Ranking algorithm">{{ ranking.algorithm }} {{ ranking.weight }}</footer>
            {% endif %}
        </section>
        {% block post_ranking %}{% endblock %}

        {% else %}
            <div class="warning">
                Data for this page is temporarily unavailable due to upstream data errors. Please try again tomorrow!
            </div>
        {% endif %}

        {{ include('partial/ad.twig', {id: '6546092519'}) }}
    </main>

    <aside>
        {{ include('partial/ad.twig', {id: '1119204033'}) }}

        <nav data-ctx="{% block context_name %}{% endblock %}">
            {% block context_nav %}
            {% set id = block('parent_id') is defined ? block('parent_id') : page.id %}
            <h3>Rankings</h3>
            <ol>
                <li><a href="/top250{{ ext }}" class="cup {{ id == 'top250' ? 'sel' }}">Steam Top 250</a>
                <li><a href="/hidden_gems{{ ext }}" class="gem {{ id == 'hidden_gems' ? 'sel' }}">Hidden Gems</a>
                <li><a href="{{ club250 }}/ranking/trending-now" class="trend">
                        Trending Now
                        {{ include('@components/micro tier.twig', {tier: 1, benefit: 'trend'}) }}
                    </a>
                <li><a href="/2026{{ ext }}" class="star">Best of 2026</a>
                <li><a href="/7day{{ ext }}" class="dt7">New This Week</a>
                <li><a href="/most_played{{ ext }}" class="pad {{ id == 'most_played' ? 'sel' }}">Most Played</a>
                {% if id == 'previews' %}
                    <li><a href="/previews{{ ext }}" class="preview sel">Previews</a>
                {% endif %}
                <li><a href="/bottom100{{ ext }}" class="bottom {{ id == 'bottom100' ? 'sel' }}">Bottom 100</a>
                {% if id == 'adult' %}
                    <li><a href="/adult{{ ext }}" class="adult sel">Adult Games</a>
                {% endif %}
                <li><a href="{{ club250 }}/ranking/custom" class="custom">
                    Custom Ranking
                    {{ include('@components/micro tier.twig', {tier: 1, benefit: 'cranking'}) }}
                </a>
            </ol>
            {% endblock %}

            {% block local_nav %}{% endblock %}
        </nav>

        {{ include('partial/ad.twig', {id: '3002887382'}) }}

        {% if risers is defined and (risers or fallers or new or missing) %}
            <h3>Daily movement</h3>
            {% if risers %}
                {{ include('partial/movement.twig', {games: risers, title: 'Risers', class: 'up'}) }}
            {% endif %}
            {% if fallers %}
                {{ include('partial/movement.twig', {games: fallers, title: 'Fallers', class: 'dn'}) }}
            {% endif %}
            {% if new %}
                {{ include('partial/movement.twig', {games: new, title: 'New entries', class: 'nu'}) }}
            {% endif %}
            {% if missing %}
                {{ include('partial/movement.twig', {games: missing, title: 'Disappeared', class: 'no', noipl: true}) }}
            {% endif %}
        {% endif %}

        <section class="boxlink ico email">
            <header>Club 250 Weekly Edition</header>
            <div>
                <p>
                    Sign up for the free Club 250 Weekly Edition to get the <strong>top 30 games of the week</strong>
                    delivered directly to your inbox every seven days!
                    <a href="{{ club250 }}/email%20sub/7day">Learn more</a>
                </p>
                <form method="post" action="{{ club250 }}/email%20sub/7day">
                    <input name="email" type="email" placeholder="your.email@example.com" required>
                    <button>Send</button>
                </form>
            </div>
        </section>

        <section class="boxlink">
            <a href="{{ discord }}">
                <header>Contribute</header>
                <div>
                    <p>
                        So you can code?
                        Bring your own ideas or follow our roadmap; we can guide you.
                        Just join Discord and say hi!
                    </p>
                </div>
            </a>
        </section>
    </aside>
</div>
{% endblock %}
