{% extends 'layout/template.twig' %}
{% import 'macro/steam.twig' as steam %}
{% import 'macro/ranking.twig' as macro %}

{% block css %}
{{ parent() }}
<link rel="stylesheet" href="/css/ranking.css">
{% endblock %}

{% block fullwidth %}
<div class="ranking-layout">
    <div>{#Virtual#}</div>

    <div class="main ranking">
        <div class="filter">
            <button type="button">platform filters</button>
            <form method="post">
                <fieldset>
                    <legend>Platforms</legend>
                    <p>Include games supporting these platforms.</p>
                    <label>
                        <input type="checkbox" name="win" checked>
                        <span>Windows</span>
                    </label>
                    <label>
                        <input type="checkbox" name="mac" checked>
                        <span>Mac</span>
                    </label>
                    <label>
                        <input type="checkbox" name="nix" checked>
                        <span>Linux</span>
                    </label>
                    <label>
                        <input type="checkbox" name="vr" checked>
                        <span>Virtual reality</span>
                    </label>
                </fieldset>
                <button class="button ok">OK</button>
                <button class="button cancel">Cancel</button>
                <button class="button reset" type="reset">Reset</button>
            </form>
        </div>
        <header>
            <h2>Trailers</h2>
            <h2>{% block game_row_heading %}Movement, rank, title, date, platforms, tag and price{% endblock %}</h2>
            {% if block('scoring_heading') %}
            <h2>{% block scoring_heading %}Score{% endblock %}</h2>
            {% endif %}
        </header>
        {% for game in games %}
        <div{% if game.rank is defined %} id="{{ game.rank }}"{% endif %}>
            <div>
                <a {{ steam.video_attr(game.id, game.name, game.videos) }}>
                    <img alt="Logo" data-src="//steamcdn-a.akamaihd.net/steam/apps/{{ game.id }}/capsule_
                        {{- loop.index <= 14 ? '184x69.jpg' : 'sm_120.jpg' }}" class="lazy"
                ></a>
            </div>
            <div>
                {% if game.movement is defined %}
                {{ include('partial/movement.twig', {movement: game.movement}) }}
                {% endif %}
                {% block game_row %}
                <span class="title">
                    {% if game.rank is defined %}{{ game.rank }}.{% endif %}
                    <a href="{{ steam.app_url(game.id) }}">
                        {{- game.name -}}
                    </a>
                </span>
                {{ macro.date(game.release_date, game.release_date|date|adaptive_date) }}
                <span class="platforms">
                    {%- if game.platforms b-and constant('ScriptFUSION\\Steam250\\Shared\\Platform::WINDOWS') -%}
                    <span title="Windows" class="win"></span>
                    {%- endif -%}
                    {%- if game.platforms b-and constant('ScriptFUSION\\Steam250\\Shared\\Platform::MAC') -%}
                    <a href="/mac250{{ ext }}" title="Mac" class="mac"></a>
                    {%- endif -%}
                    {%- if game.platforms b-and constant('ScriptFUSION\\Steam250\\Shared\\Platform::LINUX') -%}
                    <a href="/linux250{{ ext }}" title="Linux" class="nix"></a>
                    {%- endif -%}
                    {%- if game.platforms b-and constant('ScriptFUSION\\Steam250\\Shared\\Platform::VIVE') -%}
                    <a href="/vr250{{ ext }}" title="HTC Vive" class="vive"></a>
                    {%- endif -%}
                    {%- if game.platforms b-and constant('ScriptFUSION\\Steam250\\Shared\\Platform::OCULUS') -%}
                    <a href="/vr250{{ ext }}" title="Oculus Rift" class="rift"></a>
                    {%- endif -%}
                    {%- if game.platforms b-and constant('ScriptFUSION\\Steam250\\Shared\\Platform::WMR') -%}
                    <a href="/vr250{{ ext }}" title="Windows Mixed Reality" class="wmr"></a>
                    {%- endif -%}
                    {%- if game.platforms b-and constant('ScriptFUSION\\Steam250\\Shared\\Platform::INDEX') -%}
                    <a href="/vr250{{ ext }}" title="Valve Index" class="index"></a>
                    {%- endif -%}
                </span>
                {{ macro.tag(game.primary_tag, tags) }}
                {% if game.rank_250 is defined and game.rank_250 and game.list_id != 'top250' %}
                <a href="/top250{{ ext }}#{{ game.rank_250 }}" class="ref250">Top 250 #{{ game.rank_250 }}</a>
                {% endif %}
                {% if game.vrx %}
                <a href="/vr_exclusives{{ ext }}" class="vrx" title="VR Exclusive">VRX</a>
                {% endif %}
                {% if game.price is same as('0') %}
                <a href="/tag/free_to_play{{ ext }}" class="free">Free</a>
                {% endif %}
                {% if game.ea %}
                <a href="/tag/early_access{{ ext }}" class="ea" title="Early Access">EA</a>
                {% endif %}
                {% if game.discount > 0 %}
                <a href="/discounts{{ ext }}" class="discount">-{{ game.discount }}%</a>
                {%- endif %}
                {%- if game.price > 0 -%}
                <span class="price">$
                    {{- ((game.discount_price ? game.discount_price : game.price) / 100)|number_format(2) -}}
                </span>
                {% endif %}
                <a href="{{ steam.store_url(game.id) }}" class="store" title="Steam store"></a>{#
                #}{% if game.rank is defined %}<a href="#{{ game.rank }}" class="links" title="Link">▼</a>{% endif %}
                {% block reviews %}{% endblock %}
                {% endblock %}
            </div>
            {% if block('scoring_criteria') %}
            <div>
                {% block scoring_criteria %}
                <span class="score">{{ (game.score * 10)|number_format(2) }}</span>
                <span class="rating">{{ (game.positive_reviews / game.total_reviews * 100)|round }}%</span>
                <span class="votes">{{ game.total_reviews|number_format }} votes</span>
                {% endblock %}
            </div>
            {% endif %}
        </div>
        {% if (loop.index == 25 or loop.index == 50) and not loop.last %}
        {{ include('partial/ad.twig', {id: cycle(['6706909236', '6885984584'], loop.index / 25 - 1)}) }}
        {% endif %}
        {% endfor %}
        {% if ranking.algorithm is defined %}
        <footer title="Ranking algorithm">{{ ranking.algorithm }} {{ ranking.weight }}</footer>
        {% endif %}
    </div>
    <section class="r&amp;f">
    {% if risers is defined and (risers or fallers or new or missing) %}
        {% if risers %}
        {{ include('partial/risers.twig', {games: risers, title: 'Risers today'}) }}
        {% endif %}
        {{ include('partial/ad.twig', {id: '3002887382'}) }}
        {% if new %}
        {{ include('partial/risers.twig', {games: new, title: 'New entries today'}) }}
        {% endif %}
        {% if fallers %}
        {{ include('partial/risers.twig', {games: fallers, title: 'Fallers today'}) }}
        {% endif %}
        {% if missing %}
        {{ include('partial/risers.twig', {games: missing, title: 'Dropped off today', noipl: true}) }}
        {% endif %}
    {% else %}
        {{ include('partial/ad.twig', {id: '3002887382'}) }}
    {% endif %}
        <div class="c250">
            <div class="title h2" data-title="Club 250">
                <h2><a href="{{ patreon }}">Club 250</a></h2>
            </div>
            <p>
                <a href="{{ patreon }}">Club 250</a> is the Steam 250 member's club, aggregating all
                <strong>54 million reviews</strong> from
                Steam to produce complete games ranking history. It is the next iteration of Steam 250 with lots of
                ambitious and exciting features planned. Full details are in the
                <a href="{{ patreon }}">about section</a> on our Patreon page.</p>
            <p>
                <a href="{{ patreon }}">Joining Club 250</a>
                for just $1 per month helps us continue making improvements that help you find good games on Steam.
                As a bonus incentive, greater pledge levels come with some additional rewards, including
                <a href="/club250/member_reviews{{ ext }}">your Steam reviews on an exclusive ranking</a> and
                <a href="/club250/ambassadors{{ ext }}">your name, logo and link on the site</a>.
            </p>
        </div>
    </section>
</div>

<ol id="linkmenu">
    <li><a class="cp rank">Copy link to this rank (#<span>0</span>)</a>
    <li><a class="cp app">Copy link to track this game</a>
</ol>
{% endblock %}
