{% extends 'layout/template.twig' %}
{% import 'macro/steam.twig' as steam %}
{% import 'macro/ranking.twig' as macro %}

{% block class %}ranking{% endblock %}

{% block css %}
{{ parent() }}
<link rel="stylesheet" href="/c/ranking.css">
{% endblock %}

{% block fullwidth %}
<div class="3col-layout">
    <div class="col3">
    {% block col3 %}
        <section class="quicklinks">
            <h3>Recommended rankings</h3>
            <ol>
                <li><a href="/top250{{ ext }}"><span class="250">Steam Top 250</span></a>
                <li><a href="/hidden_gems{{ ext }}"><span class="gems">Hidden Gems</span></a>
                <li><a href="/7day{{ ext }}"><span class="new">New This Week</span></a>
                <li><a href="/2026{{ ext }}"><span class="curyear">Best of 2026</span></a>
                <li><a href="/most_played{{ ext }}"><span class="played">Most Played</span></a>
                <li><a href="{{ club250 }}/ranking/trending-now">
                        <span class="trend">
                            Trending Now
                            {{ include('@components/micro tier.twig', {tier: 1, benefit: 'trend'}) }}
                        </span>
                    </a>
                <li><a href="{{ club250 }}/ranking/custom">
                        <span class="cranking">
                            Custom Ranking
                            {{ include('@components/micro tier.twig', {tier: 1, benefit: 'cranking'}) }}
                        </span>
                    </a>
            </ol>
        </section>

        {{ include('partial/ad.twig', {id: '1119204033'}) }}

        <section class="c250">
            <div class="title h2" data-title="Club 250">
                <h2><a href="{{ club250 }}/join">Club 250</a></h2>
            </div>
            <p>
                Club 250 is the Steam 250 member's club, aggregating all
                <strong>125 million reviews</strong>
                on Steam to produce full ranking history for each game.
            </p>
            <p>
                <a href="{{ club250 }}/join">Joining Club 250</a> grants access to more features including our
                popular <a href="{{ club250 }}/ranking/custom">Custom Ranking</a> tool, historical charting,
                automatically marking owned Steam games in rankings,
                game owners and sales estimates based on GDC research data, ad-free browsing and more.
                Check out our <a class="tier popup">membership tiers</a> for the full breakdown.
            </p>
            <p>
                <a class="tier popup"><strong>Apprentice</strong></a> tier grants access to most features for just £2
                (billed in your local currency on <a href="{{ club250 }}/join">sign up</a>).
                Membership is a Patreon subscription service, but the subscription may be cancelled at any time,
                even immediately, and you will still enjoy the full term of membership.
                A free trial is also available by linking a free Patreon account and clicking the button on your
                <a href="{{ club250 }}/me">profile page</a>.
            </p>
        </section>

        <section class="boxlink ico email">
            <header>Club 250 Weekly Edition</header>
            <div>
                <p>
                    Sign up for the free Club 250 Weekly Edition to get the <strong>top 30 games of the week</strong>
                    delivered directly to your inbox every seven days!
                    <a href="{{ club250 }}/email%20sub/7day">Learn more</a>
                </p>
                <form method="post" action="{{ club250 }}/email%20sub/7day">
                    <input name="email" type="email" placeholder="your.email@example.com" required>
                    <button>Send</button>
                </form>
            </div>
        </section>

        <section class="boxlink">
            <a href="{{ discord }}">
                <header>Contribute</header>
                <div>
                    <p>
                        So you <em>can</em> code your way out of a paper bag?
                        Bring your own ideas or follow our roadmap, we can help guide you.
                        Just join Discord and say hi!
                    </p>
                </div>
            </a>
        </section>
    {% endblock %}
    </div>

    <div class="col1">
        {% if games is defined %}
        <section class="applist compact">
            <header>
                <span>{% block rank_heading %}Rank{% endblock %}</span>
                <span></span>
                <span>{% block score_heading %}Score{% endblock %}</span>
                <span>{% block rating_heading %}Rating{% endblock %}</span>
            </header>
            {% for app in games %}
            <div {% if app.rank is defined %} id="{{ app.rank }}"{% endif %}>
                <div>
                    {% if app.movement is defined %}
                        {% if app.movement is null %}
                            <span title="New entry"></span>
                        {% elseif app.movement != 0 %}
                            <span class="{{ app.movement > 0 ? '+' : '-' }}">{{ app.movement|abs }}</span>
                        {% endif %}
                    {% endif %}
                    {{ app.rank ?? loop.index }}
                </div>
                <div>{# Capsule image. #}
                    <a href="{{ steam.app_url(app.id) }}"
                        {{ steam.video_attr(app.name, app.videos, app.video_manifest_hashes) }}
                    >
                        {{ steam.app_capsule(app) }}
                    </a>
                </div>
                <div>{# Title. #}
                    <div>
                        {% block app_title %}
                            <a href="{{ steam.app_url(app.id) }}" title="{{ app.name }}">{{ app.name }}</a>
                            <span title="{{ app.release_date|date('j M Y') }}">
                                {{ macro.date(app.release_date, app.release_date|date|adaptive_date('Y')) }}
                            </span>
                        {% endblock %}

                    </div>
                    {# Tag, price and size. #}
                    <div>
                        {{ macro.tag(app.primary_tag, tags) }}
                        {% if app.price is same as(0) %}
                            <a href="/tag/free_to_play{{ ext }}" class="free">Free</a>
                        {% else %}
                            <span>
                                <span>${{ ((app.discount_price ? app.discount_price : app.price) / 100)|number_format(2) }}</span>
                                {% if app.discount > 0 %}
                                    <span>-{{ app.discount }}%</span>
                                    <span>${{ (app.price / 100)|number_format(2) }}</span>
                                {% endif %}
                            </span>
                        {% endif %}
                    </div>
                </div>
                <div>
                    {# Labels. #}
                    <span>
                        {%- if app.ea %}
                            <a href="/tag/early_access" class="ea" title="Early Access">EA</a>
                        {% endif %}
                        {%- if app.adult %}
                            <a href="/adult" class="18" title="Adult only">18</a>
                        {% endif %}
                        {%- if app.vrx %}
                            <a href="/vr_exclusives" class="vr" title="VR Exclusive">VR</a>
                        {% endif -%}
                    </span>
                    {# Links. #}
                    <span>
                        {% if app.demo_id %}
                            <a class="demo" href="steam://install/{{ app.demo_id }}" title="Install demo">Demo</a>
                        {%- endif -%}
                        <a href="{{ steam.store_url(app.id) }}" class="store" title="Steam store"></a>
                    </span>
                </div>
                <div>
                    {%- if block('score_heading') %}
                        <span>{% block score %}{{ (app.score * 10)|number_format(2) }}{% endblock %}</span>
                    {% endif -%}
                </div>
                <div>
                    {%- if app.total_reviews > 0 %}
                        <span class="rating">
                            {{ (app.positive_reviews / app.total_reviews * 100)|round }}%
                        </span>
                    {% endif %}
                    {%- if block('rating_heading') %}
                        <span class="votes" title="{{ app.total_reviews|number_format }} reviews">
                            {{ app.total_reviews|sigfig(3) }}
                        </span>
                    {% endif -%}
                </div>
            </div>
            {% if (loop.index == 25 or loop.index == 50) and not loop.last %}
                {{ include('partial/ad.twig', {id: cycle(['6706909236', '6885984584'], loop.index / 25 - 1)}) }}
            {% endif %}
            {% endfor %}
            {% if ranking.algorithm is defined %}
                <footer title="Ranking algorithm">{{ ranking.algorithm }} {{ ranking.weight }}</footer>
            {% endif %}
        </section>

        {% else %}
            <div class="warning">
                Data for this page is temporarily unavailable due to upstream data errors. Please try again tomorrow!
            </div>
        {% endif %}
    </div>

    <section class="col2 r&amp;f">
    {% if risers is defined and (risers or fallers or new or missing) %}
        {% if risers %}
            {{ include('partial/risers.twig', {games: risers, title: 'Risers today', class: 'up'}) }}
        {% endif %}
        {{ include('partial/ad.twig', {id: '3002887382'}) }}
        {% if fallers %}
            {{ include('partial/risers.twig', {games: fallers, title: 'Fallers today', class: 'dn'}) }}
        {% endif %}
        {% if new %}
            {{ include('partial/risers.twig', {games: new, title: 'New entries today', class: 'nu'}) }}
        {% endif %}
        {% if missing %}
            {{ include('partial/risers.twig', {games: missing, title: 'Dropped off today', class: 'no', noipl: true}) }}
        {% endif %}
    {% else %}
        {{ include('partial/ad.twig', {id: '3002887382'}) }}
    {% endif %}
    </section>
</div>

<ol id="linkmenu">
    <li><a class="cp rank">Copy link to this rank (#<span>0</span>)</a>
    <li><a class="cp app">Copy link to track this game</a>
</ol>
{% endblock %}
