<div class="linkbar">
    {% set first = constant('ScriptFUSION\\Steam250\\SiteGenerator\\Ranking\\Impl\\AnnualRanking::EARLIEST_YEAR') %}
    <ol>
        <li {{ ranking.year is not defined ? 'class="cur"' }}>
            <a href="old{{ ext }}">Pre-<wbr>{{ first }}</a>
        </li>
        {% for year in range(earliest_year, 'now'|date('Y')) %}
        <li {{ ranking.year is defined and ranking.year == year ? 'class="cur"' }}>
            <a href="{{ year ~ ext }}">{{ year }}
        </a>
        {% endfor %}
    </ol>
</div>
