<div class="button-group">
    <a href="/tag/free_to_play{{ ext }}" class="button {{ page.id == 'tag/free_to_play' ? 'cur' }}">Free</a>
    <a href="/price/under5{{ ext }}" class="button {{ page.id == 'price/under5' ? 'cur' }}">Under $5</a>
    <a href="/price/5-10{{ ext }}" class="button {{ page.id == 'price/5-10' ? 'cur' }}">$5-10</a>
    <a href="/price/10-15{{ ext }}" class="button {{ page.id == 'price/10-15' ? 'cur' }}">$10-15</a>
    <a href="/price/over15{{ ext }}" class="button {{ page.id == 'price/over15' ? 'cur' }}">Over $15</a>
</div>
