{% import 'macro/steam.twig' as steam %}

{% macro game_link(game) %}
<a href="
    {%- if game.developer is defined -%}
    {{ steam.developer_url(game.developer) }}
    {%- elseif game.publisher is defined -%}
    {{ steam.publisher_url(game.publisher) }}
    {%- else -%}
    {{ steam.app_url(game.id) }}
    {%- endif -%}
" class="title">
    <span style="background-image:
        url('https://steamcdn-a.akamaihd.net/steam/apps/{{ game.id }}/capsule_sm_120.jpg');"
    ></span>
    <span>
        {% if game.movement is defined %}
        {{ include('partial/movement.twig', {movement: game.movement}) }}
        {% endif %}
        <span>{{ game.developer is defined ? game.developer
            : game.publisher is defined ? game.publisher
            : game.name }}</span>
    </span>
</a>
{% endmacro %}

<div class="compact ranking">
    {% if title is defined %}
    <h2>{{ title }}</h2>
    {% endif %}
    <ol>
        {% for game in games %}
        <li>
            <a href="{{ base_url ?? '' }}#{{ game.rank }}" class="rank">{{ game.rank }}</a>
            {{ _self.game_link(game) }}
            {{ _self.game_link(game) }}
        {% endfor %}
    </ol>
</div>
