{% import 'macro/steam.twig' as steam %}

<div class="compact ranking">
    {% if title is defined %}
    <h2>{{ title }}</h2>
    {% endif %}
    <ol>
        {% for game in games %}
        <li>
            {% if noipl is not defined %}
            <a href="{{ base_url ?? '' }}#{{ game.rank }}" class="rank"><span>{{ game.rank }}</span></a>
            {% endif %}
            {% set href =
                game.developer is defined ? steam.developer_url(game.developer)
                : game.publisher is defined ? steam.publisher_url(game.publisher)
                : steam.app_url(game.id)
            %}
            <span class="title">
                <a href="{{ href }}" {{ steam.video_attr(game.id, game.videos) }}>
                    <img alt="Logo" src="https://steamcdn-a.akamaihd.net/steam/apps/{{ game.id }}/capsule_sm_120.jpg">
                </a>
                <a href="{{ href }}">
                    {% if game.movement is defined %}
                        {{ include('partial/movement.twig', {movement: game.movement}) }}
                    {% endif %}
                    {% if noipl is defined %}
                    ({{ game.rank }})
                    {% endif %}
                    <span>{{ game.developer is defined ? game.developer
                        : game.publisher is defined ? game.publisher
                        : game.name }}</span>
                </a>
            </span>
        {% endfor %}
    </ol>
</div>
