{% import 'macro/steam.twig' as steam %}

<div>
    <h2>{{ title|default('Risers') }} today</h2>
    <ol>
        {% for game in games %}
        <li>
            <a href="{{ steam.app_url(game.id) }}">
                <img alt="Logo" src="https://steamcdn-a.akamaihd.net/steam/apps/{{ game.id }}/capsule_sm_120.jpg"
            ></a>
            <span>
                {{ include('partial/movement.twig', {movement: game.movement}) }}
                <a href="#{{ game.rank }}">{{ game.rank }}</a>.
                {% if game.developer is defined %}
                <a href="{{ steam.developer_url(game.developer) }}">{{ game.developer }}</a>
                {% elseif game.publisher is defined %}
                <a href="{{ steam.publisher_url(game.publisher) }}">{{ game.publisher }}</a>
                {% else %}
                <a href="{{ steam.app_url(game.id) }}">{{ game.name }}</a>
                {% endif %}
            </span>
        {% endfor %}
    </ol>
</div>
