<div class="button-group">
    <a href="7day{{ ext }}" class="button {{ page.id == '7day' ? 'cur' }}">Week</a>
    <a href="30day{{ ext }}" class="button {{ page.id == '30day' ? 'cur' }}">Month</a>
    <a href="90day{{ ext }}" class="button {{ page.id == '90day' ? 'cur' }}">Quarter</a>
    <a href="365day{{ ext }}" class="button {{ page.id == '365day' ? 'cur' }}">Year</a>
</div>
