<div class="timeline">
    {% set first = constant('ScriptFUSION\\Steam250\\SiteGenerator\\Ranking\\Impl\\AnnualRanking::EARLIEST_YEAR') %}
    <ol>
        <li {{ ranking.year is not defined ? 'class="cur"' }}>
            <a href="old{{ ext }}">Pre-<wbr>{{ first }}</a>
        </li>
        {% set latest_year = ranking.template == 'owners' ? 2017 : 'now'|date('Y') %}
        {% for year in earliest_year..latest_year %}
        <li {{ ranking.year is defined and ranking.year == year ? 'class="cur"' }}>
            <a href="{{ year ~ ext }}">{{ year }}
        </a>
        {% endfor %}
    </ol>
</div>
